.exercise-container {
    margin: 0 auto;
    width: 95%;
    height: 100%;
    padding: 0 0.5rem 1rem;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--form-border);
}

.exercise-container h2 {
    padding: 0;
    font-size: 1.0rem;
    font-weight: 900;
}

.sentence-list {
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 0.75rem;
    border-radius: 6px;
    background: var(--dialog-bg);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

.sentence {
    text-align: left;
    white-space: normal;
    line-height: 2rem;
}

.sentence span,
.sentence .blank {
    display: inline;
    white-space: normal;
}

.blank {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    min-width: 80px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: var(--form-input-bg);
    cursor: pointer;
    user-select: none;
    margin-top: 5px;
}

.blank.correct {
    background: #c8f7c5;
    border-color: #5ab55a;
    color: black;
}

.blank.wrong {
    background: #f8c5c5;
    border-color: #c55a5a;
    color: black;
}

.word-pool {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 0.5rem;
    min-height: 25px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: var(--form-groupbox-bg);
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.word {
    padding: 0.3rem 0.8rem;
    background: var(--form-input-bg);
    border: 1px solid #8ab9ff;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.word:hover {
    background: #c2deff;
}

.word:active {
    background: #a9ccff;
}

.empty-msg {
    color: #777;
    font-style: italic;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.btn-check {
    background-color: #4caf50;
    color: white;
}

.btn-check:hover {
    background-color: #45a049;
}

.btn-reset {
    background-color: #ddd;
    color: black;
}

.btn-reset:hover {
    background-color: #ccc;
}