#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  --workspace-bg: rgb(178, 199, 216);
}

.content-selector {
  --border-radius: 0.4rem;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.Q2DataList-scrollarea {
  margin-top: var(--border-radius);
  margin-bottom: var(--border-radius);
}

.content-selector .Q2DataList-row {
  margin: 0.9rem;
  padding: 0.9rem;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  cursor: pointer;
}

.Q2DataList-header,
.content-selector .Q2DataList-header-cell {
  display: none;
}

.content-selector .Q2DataList-cell {
  border: none;
}


.selector-title {
  font-weight: bold;
  color: #0a224dff;
  text-align: right;
  overflow: hidden;
}

.dark .selector-title {
  color: rgb(217, 230, 255);
}


.selector-path {
  font-size: 1.125rem;
  font-weight: bold;
  color: rgb(15, 56, 58);
  overflow: hidden;
}

.dark .selector-path {
  color: rgb(139, 239, 244)
}

.guest-user-widget {
  display: flex;
  flex-direction: row;
  padding-right: 2rem;
}

.guest-icon {
  max-width: 1.5rem;
  margin: auto;
  border-radius: 1rem;
}

.full-screen {
  border-radius: 0px;
}


.MainMenuLoginButton,
.StepBackButton,
.HomeButton {
  display: none;
}

